<div>
    <% if (typeof errors !='undefined' ) { %>
        <p style="color: red;">
            <% errors.forEach(error=> { %>
                <%= error %>
                    <br>
                    <% }) %>
        </p>
        <% } %>
</div>