<%- include('./partials/vendor-head') %>

    <!-- Add Product is here -->
    <div class="container my-5 shadow-lg p-3 rounded-5">
        <h2 class="text-center fw-bolder text-success">ADD NEW PRODUCT</h2>
        <div class="m-4" style="font-size: 15px; font-family:sans-serif;">
            <!-- Link to add post produt -->
            <form action="/vendor/products/add/" method="post" id="form" enctype="multipart/form-data">

                <!-- Product Name -->
                <div class="mb-4">
                    <label for="productName" class="d-block mb-2">📇 Product name:</label>
                    <input type="text" class="w-100 form-control shadow-sm" name="productName" id="productName"
                        minlength="5" required>
                </div>

                <!-- Product amout -->
                <div class="mb-4">
                    <label for="amount" class="d-block mb-2">🗃️ Amount:</label>
                    <input min="0" type="number" class="w-100 form-control shadow-sm" name="amount" id="amount"
                        required>
                </div>

                <!-- Product price -->
                <div class="mb-4">
                    <label for="price" class="d-block mb-2">💸 Price:</label>
                    <input min="0" type="number" class="w-100 form-control shadow-sm" name="price" id="price" required>
                </div>

                <!-- Product type -->
                <div class="mb-4">
                    <label for="productType" class="d-block mb-2">⛰️ Product type:</label>
                    <select name="productType" id="productType" class="form-control shadow-sm" required>
                        <option value="">-- Product Type --</option>
                        <option value="Games">Games & Toys</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Others">Others</option>
                    </select>
                </div>

                <!-- Product img -->
                <div class="mb-4">
                    <label for="productPIC" class="d-block mb-2">📷 Product Image:</label>
                    <input type="file" class="w-100 form-control shadow-sm" name="productPIC" id="productPIC"
                        accept="image/*" required>
                </div>

                <!-- product description -->
                <div class="mb-4">
                    <label for="description" class="d-block mb-2">📝 Description:</label>
                    <textarea name="description" id="description" class="form-control" rows="5"
                        maxlength="500"></textarea>
                </div>
                <div>
                    <input type="hidden" name="vendorUsername" id="vendorUsername" value="<%= vendor.username %>">
                </div>

                <div>
                    <input type="hidden" name="vendorId" id="vendorId" value="<%= vendor.id %>">
                </div>




                <!-- Button things -->
                <div id="error" style="color: red !important;" class="text-center"></div>
                <div class="text-center">
                    <button type="reset" class="rounded border-0 px-4 py-2 bg-danger m-3">Reset</button>
                    <button type="submit" class="rounded border-0 px-4 py-2 bg-success m-3">Create</button>
                </div>
            </form>
        </div>

    </div>
    <!------------- Footer section is HERE --------------------->
    <%- include('./partials/vendor-footer') %>
        <!------------- Footer section is HERE --------------------->



        </body>

        </html>