<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author/ID: 
Phan Anh Khoi S3980639
Tran Minh Hoang S3975086
Nguyen Thi Hoang Yen S3930002
Le Tuan Kiet S3965654
Tran Minh S3911737

Acknowledgment: 

TheCornerStore logo: Image generated using Bing Image Creator from the prompt lettermark logo for the TheCornerStore website

Images:
The Craft House (n.d.) Product images [product], The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

AConcept Vietnam (2021). Furniture images [furniture], AConcept Vietnam website. Accessed 20 September 2023. https://aconcept-vn.com/vi/

Amazon (n.d.). Product images [product], Amazon website. Accessed 20 September 2023.https://www.amazon.com/ 

Text in footer’s static pages: OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com

Product description:
The Craft House (n.d.) Product detail, The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com
 -->

<!------------- Footer section is HERE --------------------->
<footer class="py-3 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/shipper/<%= shipper._id %>/privacy"
                                class="nav-link px-2 text-body-secondary">Privacy</a>
                </li>
                <li class="nav-item"><a href="/shipper/<%= shipper._id %>/operating"
                                class="nav-link px-2 text-body-secondary">Operating
                        </a>
                </li>
                <li class="nav-item"><a href="/shipper/<%= shipper._id %>/shipping"
                                class="nav-link px-2 text-body-secondary">Shipping</a>
                </li>
                <li class="nav-item"><a href="/shipper/<%= shipper._id %>/return"
                                class="nav-link px-2 text-body-secondary">Return
                        </a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 TheCornerStore</p>
</footer>
<!------------- Footer section ends HERE --------------------->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>