<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender Page</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/vendor.css" />
</head>

<body>
    <!-- Header Section Is Here just for vender -->
    <div class="container-fluid">
        <header class="pb-4 bg-body-secondary">
            <div class="container-fluid d-flex flex-wrap justify-content-evenly gap-5">
                <div class="">
                    <!-- Logo is hear -->
                    <!-- Link back to vender page -->
                    <a href="/vendor/homepage/<%= vendor?.id %>"
                        class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                        <img loading="lazy" width="250px" src="/img/logo.svg" alt="Logo" />
                    </a>
                </div>

                <div class="d-flex align-items-center">
                    <!-- vendor Icon -->
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img loading="lazy"
                                src="data:image/<%= vendor?.profilePicture.contentType %>;base64,<%= vendor?.profilePicture.data.toString('base64') %>"
                                alt="mdo" width="30" height="30" class="rounded-circle" />
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li>
                                <a class="dropdown-item" href="/vendor/profile/<%= vendor?._id %>">Profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </header>
        <!--------- Header Section Is Here -------->