<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author/ID: 
Phan Anh Khoi S3980639
Tran Minh Hoang S3975086
Nguyen Thi Hoang Yen S3930002
Le Tuan Kiet S3965654
Tran Minh S3911737

Acknowledgment: 

TheCornerStore logo: Image generated using Bing Image Creator from the prompt lettermark logo for the TheCornerStore website

Images:
The Craft House (n.d.) Product images [product], The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

AConcept Vietnam (2021). Furniture images [furniture], AConcept Vietnam website. Accessed 20 September 2023. https://aconcept-vn.com/vi/

Amazon (n.d.). Product images [product], Amazon website. Accessed 20 September 2023.https://www.amazon.com/ 

Text in footer’s static pages: OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com

Product description:
The Craft House (n.d.) Product detail, The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com
 -->

<%- include('./partials/vendor-head') %>

    <!-- Add Product is here -->
    <div class="container my-5 shadow-lg p-3 rounded-5">
        <h2 class="text-center fw-bolder text-success">ADD NEW PRODUCT</h2>
        <div class="m-4" style="font-size: 15px; font-family:sans-serif;">
            <!-- Link to add post produt -->
            <form action="/vendor/products/add/" method="post" id="form" enctype="multipart/form-data">

                <!-- Product Name -->
                <div class="mb-4">
                    <label for="productName" class="d-block mb-2">📇 Product name:</label>
                    <input type="text" class="w-100 form-control shadow-sm" name="productName" id="productName"
                        minlength="5" required>
                </div>

                <!-- Product amout -->
                <div class="mb-4">
                    <label for="amount" class="d-block mb-2">🗃️ Amount:</label>
                    <input min="0" type="number" class="w-100 form-control shadow-sm" name="amount" id="amount"
                        required>
                </div>

                <!-- Product price -->
                <div class="mb-4">
                    <label for="price" class="d-block mb-2">💸 Price:</label>
                    <input min="0" type="number" class="w-100 form-control shadow-sm" name="price" id="price" required>
                </div>

                <!-- Product type -->
                <div class="mb-4">
                    <label for="productType" class="d-block mb-2">⛰️ Product type:</label>
                    <select name="productType" id="productType" class="form-control shadow-sm" required>
                        <option value="">-- Product Type --</option>
                        <option value="Games">Games & Toys</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Others">Others</option>
                    </select>
                </div>

                <!-- Product img -->
                <div class="mb-4">
                    <label for="productPIC" class="d-block mb-2">📷 Product Image:</label>
                    <input type="file" class="w-100 form-control shadow-sm" name="productPIC" id="productPIC"
                        accept="image/*" required>
                </div>

                <!-- product description -->
                <div class="mb-4">
                    <label for="description" class="d-block mb-2">📝 Description:</label>
                    <textarea name="description" id="description" class="form-control" rows="5"
                        maxlength="500"></textarea>
                </div>
                <div>
                    <input type="hidden" name="vendorUsername" id="vendorUsername" value="<%= vendor.username %>">
                </div>

                <div>
                    <input type="hidden" name="vendorId" id="vendorId" value="<%= vendor.id %>">
                </div>




                <!-- Button things -->
                <div id="error" style="color: red !important;" class="text-center"></div>
                <div class="text-center">
                    <button type="reset" class="rounded border-0 px-4 py-2 bg-danger m-3">Reset</button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Create
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you wanna add new product ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!------------- Footer section is HERE --------------------->
    <%- include('./partials/vendor-footer') %>
        <!------------- Footer section is HERE --------------------->



        </body>

        </html>