<!-- Header for customer homepage -->
<%- include('./partials/customer-head') %>


        <div class="px-4 px-lg-0 bg-dark container-fluid">
            <!-- For demo purpose -->
            <div class="container text-white py-5 text-center fw-bolder">
                <h1>Shopping Cart</h1>
            </div>
            <!-- End -->

            <!-- Shopping cart table -->
            <div class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                            <main>
                                <h1>Shopping Cart</h1>
                                <div id="content-box">
                                    <div id="cart-box">
                                        <div id="label-box">
                                            <span>Item</span>
                                            <span>Price</span>
                                            <span>Action</span>
                                        </div>
                                        <div id="item-box">
                                        </div>
                                    </div>
                                    <div id="purchase-box">
                                        
                                        <label id="total-price">Total price: </label>
                                        <form action="/shoppingCart" method="post">
                                            <input type="text" name="productList" style="display:none" id="product-list">
                                            <input type="text" name= "customerName" id ="customer-name-field"style="display:none">
                                            <input type="text" name="username" id="username-field" style="display:none">
                                            <input type="number" name="totalPrice" id ="total-price-field" style="display:none">
                                            <button id="order-button" type="submit">Order</button>
                                        </form>
                                    </div>
                                </div>
                            </main>
                            <!-- End -->
                        </div>
                    </div>

                    <div class="row py-5 p-4 bg-white rounded shadow-sm">
                        <div class="col-12">
                            <div >                     
                                <!-- Oder Product Sumary is Here  -->
                                <ul class="list-unstyled mb-4 shadow-lg p-4">
                                    <li class="bg-light-subtle  fw-bold py-3 text-uppercase font-weight-bold">Order summary
                                    </li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                            class="text-muted">Order Subtotal:
                                        </strong><strong>2.454.600&#8363;</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                            class="text-muted">Shipping costs:</strong><strong>30.000&#8363;</strong>
                                    </li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                            class="text-muted">Total:</strong>
                                        <h5 class="font-weight-bold">2.484.600&#8363;</h5>
                                    </li>
                                </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to
                                    checkout</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="py-3 mt-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="privacy.html" class="nav-link px-2 text-body-secondary">Privacy Policy</a>
                </li>
                <li class="nav-item"><a href="operatingregulations.html" class="nav-link px-2 text-body-secondary">Operating
                        Regulations</a>
                </li>
                <li class="nav-item"><a href="shipping.html" class="nav-link px-2 text-body-secondary">Shipping Policy</a>
                </li>
                <li class="nav-item"><a href="returnandrefund.html" class="nav-link px-2 text-body-secondary">Return and Refund
                        Policy</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2023 TheCornerStore</p>
        </footer>
    </div>

    <script>
        window.onload = function loadData(){
            var totalPrice = 0;
            var products = new Array();
            if(localStorage.length == 0){
                document.querySelector('#item-box').innerText = "Your cart is empty";
                document.querySelector('#item-box').style ="padding-top : 100px";
                document.querySelector('#order-button').disabled = true;
                document.querySelector('#order-button').style = "background-color:grey";
            }
            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i);
                console.log(key);
                const product = JSON.parse(localStorage.getItem(key));
                totalPrice += product.price;
                const item = document.createElement('div');
                const itemDisplay = document.createElement('div');
                const itemImg = document.createElement('img');
                const itemName = document.createElement('div');
                const itemPrice = document.createElement('div')
                const itemActionDisplay = document.createElement('div');
                const itemAction = document.createElement('button');
                item.setAttribute('class','item');
                item.setAttribute('id', i);
                itemDisplay.setAttribute('class','item-display');
                //itemDisplay.setAttribute('id', i);
                itemImg.setAttribute('class','item-image');
                itemImg.setAttribute('alt', `Image of product ${product.name}`)
                itemName.setAttribute('class','item-name');
                itemPrice.setAttribute('class','item-price');
                itemActionDisplay.setAttribute('class','action-display');
                itemAction.setAttribute('class','delete-button red');
                itemImg.src = product.image;
                itemName.innerText = product.name;
                itemPrice.innerText = '$' + product.price;
                itemAction.innerText = 'Delete';
                itemAction.addEventListener('click', () =>{
                    localStorage.removeItem(key);
                    window.location.reload();
                })
                document.querySelector('#item-box').appendChild(item);
                document.querySelectorAll('.item').item(i).appendChild(itemDisplay);
                document.querySelectorAll('.item-display').item(i).appendChild(itemImg);
                document.querySelectorAll('.item-display').item(i).appendChild(itemName);
                document.querySelectorAll('.item').item(i).appendChild(itemPrice);
                document.querySelectorAll('.item').item(i).appendChild(itemActionDisplay);
                document.querySelectorAll('.action-display').item(i).appendChild(itemAction);
                products.push(product._id);
            }
            document.querySelector('#total-price').innerText = 'Total price: $' + totalPrice.toFixed(2); 
            document.querySelector('#total-price-field').value = totalPrice.toFixed(2);
            document.querySelector('#product-list').value = products;
            document.querySelector('#customer-name-field').value = "<%= customer.name %>";
            document.querySelector('#address-field').value = "<%= customer.name %>";
            document.querySelector('#username-field').value = "<%= customer.name %>"
        }
    
        window.onsubmit = function clearLocalStorage(){
            localStorage.clear();
            window.alert("Order successful!");
        }
    </script>
</body>

</html>