<!-- Header for customer homepage -->
<%- include('./partials/customer-head') %>


    <div class="px-4 px-lg-0 bg-dark container-fluid">
        <!-- For demo purpose -->
        <div class="container text-white py-5 text-center fw-bolder">
            <h1>Shopping Cart</h1>
        </div>
        <!-- End -->

        <!-- Shopping cart table -->
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                        <main>
                            <div id="content-box">
                                <div id="cart-box">
                                    <div id="content">
                                    </div>
                                </div>
                                <div id="proceed-purchase">

                                    <label id="total-price">Total price: </label>
                                    <form action="/customer/cart/" method="post">
                                        <input type="text" name="orderItems" style="display:none" id="order-items">
                                        <input type="text" name="customerName" id="customerName" style="display:none">
                                        <input type="text" name="username" id="username" style="display:none">
                                        <input type="text" name="CustomerAddress" id="customerAddress"
                                            style="display:none">
                                        <input type="number" name="totalPrice" id="total-price-field"
                                            style="display:none">
                                        <a href="/customer/homepage"><button id="btn-order"
                                                type="submit">Confirm</button></a>
                                    </form>
                                </div>
                            </div>
                        </main>
                        <!-- End -->
                    </div>
                </div>



            </div>
        </div>
    </div>
    <footer class="py-3 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="privacy.html" class="nav-link px-2 text-body-secondary">Privacy Policy</a>
            </li>
            <li class="nav-item"><a href="operatingregulations.html" class="nav-link px-2 text-body-secondary">Operating
                    Regulations</a>
            </li>
            <li class="nav-item"><a href="shipping.html" class="nav-link px-2 text-body-secondary">Shipping Policy</a>
            </li>
            <li class="nav-item"><a href="returnandrefund.html" class="nav-link px-2 text-body-secondary">Return and
                    Refund
                    Policy</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 TheCornerStore</p>
    </footer>
    </div>

    <script>
        window.onload = function loadData() {
            var totalPrice = 0;
            var products = new Array();
            if (localStorage.length == 0) {
                document.querySelector('#content').innerText = "Your cart is empty";
                document.querySelector('#content').style = "padding: 50px";
                document.querySelector('#btn-order').disabled = true;
                document.querySelector('#btn-order').style = "background-color:grey";
            }
            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i);
                console.log(key);
                const product = JSON.parse(localStorage.getItem(key));
                totalPrice += product.price;
                const item = document.createElement('div');
                const itemDisplay = document.createElement('div');
                const image = document.createElement('img');
                const title = document.createElement('div');
                const itemPrice = document.createElement('div');
                const itemActionDisplay = document.createElement('div');
                const itemAction = document.createElement('button');
                item.setAttribute('class', 'row item');
                item.setAttribute('id', i);
                itemDisplay.setAttribute('class', 'col-4 item-display');
                //itemDisplay.setAttribute('id', i);
                image.setAttribute('class', 'product-image');
                image.setAttribute('alt', `Image of product ${product.name}`)
                title.setAttribute('class', 'item-name');
                itemPrice.setAttribute('class', 'col-4 d-flex align-items-center justify-content-center item-price');
                itemActionDisplay.setAttribute('class', 'col-4 d-flex align-items-center justify-content-end action-display');
                itemAction.setAttribute('class', 'btn-delete bg-danger rounded text-light');

                // Image Adding
                image.src = product.image;
                title.innerText = product.name;
                itemPrice.innerText = product.price + 'đ';
                itemAction.innerText = 'Delete';
                itemAction.addEventListener('click', () => {
                    localStorage.removeItem(key);
                    window.location.reload();
                })
                document.querySelector('#content').appendChild(item);
                document.querySelectorAll('.item').item(i).appendChild(itemDisplay);
                document.querySelectorAll('.item-display').item(i).appendChild(image);
                document.querySelectorAll('.item-display').item(i).appendChild(title);
                document.querySelectorAll('.item').item(i).appendChild(itemPrice);
                document.querySelectorAll('.item').item(i).appendChild(itemActionDisplay);
                document.querySelectorAll('.action-display').item(i).appendChild(itemAction);
                products.push(product.id);
            }
            document.querySelector('#total-price').innerText = 'Total price: ' + totalPrice + 'đ';
            document.querySelector('#total-price-field').value = totalPrice.toFixed(2);
            document.querySelector('#order-items').value = products;
            document.querySelector('#customerName').value = "<%= customer.fullname %>";
            document.querySelector('#customerAddress').value = "<%= customer.address %>";
            document.querySelector('#username').value = "<%= customer.username %>"
        }

        window.onsubmit = function clearLocalStorage() {
            localStorage.clear();
            window.alert("Thank you for your order");
        }
    </script>
    </body>

    </html>