<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author/ID: 
Phan Anh Khoi S3980639
Tran Minh Hoang S3975086
Nguyen Thi Hoang Yen S3930002
Le Tuan Kiet S3965654
Tran Minh S3911737

Acknowledgment: 

TheCornerStore logo: Image generated using Bing Image Creator from the prompt lettermark logo for the TheCornerStore website

Images:
The Craft House (n.d.) Product images [product], The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

AConcept Vietnam (2021). Furniture images [furniture], AConcept Vietnam website. Accessed 20 September 2023. https://aconcept-vn.com/vi/

Amazon (n.d.). Product images [product], Amazon website. Accessed 20 September 2023.https://www.amazon.com/ 

Text in footer’s static pages: OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com

Product description:
The Craft House (n.d.) Product detail, The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com
 -->

<!-- Header for customer homepage -->
<%- include('./partials/customer-head') %>


    <div class="p-3 p-lg-5  bg-dark container-fluid rounded">
        <!-- For demo purpose -->
        <div class="text-white text-center fw-bolder">
            <h1 class="p-2">Check-out</h1>
        </div>
        <div class="row py-2 rounded">
            <div class="col-md-3 bg-white text-center text-sm-start text-lg-center">
                <img src="assets/img/products/danang-wooden-map.webp" alt="danang-wooden-map" width="200px">
            </div>
            <div class="col-md-7 bg-white text-dark d-flex align-items-center">
                <div>
                    <h3>Da Nang Wooden Map</h3>
                    <p class="mb-3">Quantity: </p>
                    <p>Price: </p>
                </div>
            </div>
            <div class="col-md -2 bg-white text-center d-flex align-items-center ml-3 py-2">
                <button type="button" class="btn btn-outline-dark ">Delete</button>
            </div>
        </div>
        <div class="row py-2 rounded">
            <div class="col-md-3 bg-white text-center text-sm-start text-lg-center">
                <img src="assets/img/products/danang-wooden-map.webp" alt="danang-wooden-map" width="200px">
            </div>
            <div class="col-md-7 bg-white text-dark d-flex align-items-center">
                <div>
                    <h3>Da Nang Wooden Map</h3>
                    <p class="mb-3">Quantity: </p>
                    <p>Price: </p>
                </div>
            </div>
            <div class="col-md -2 bg-white text-center d-flex align-items-center ml-3 py-2">
                <button type="button" class="btn btn-outline-dark ">Delete</button>
            </div>

        </div>


        <!-- Shopping cart table -->
    </div>

    <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <!-- Oder Product Sumary is Here  -->
        <div class="mb-4 shadow-lg px-4 rounded ">
            <p class="bg-light-subtle  fw-bold py-2 text-uppercase mb-0 text-center">Shipping
                Information
            </p>
        </div>
        <form action="" id="order-form" method="post">

            <div class="row mb-3">
                <div class="col-sm-6 ">
                    <p class=" text-small fw-bold">Customer Name</p>
                    <input class="form-control" value="" type="text" name="customername"
                        placeholder="Enter Receiver Name">
                </div>
                <div class="col-sm-6 ">
                    <p class=" text-small fw-bold ">Phone </p>
                    <input class="form-control" value="" type="text" name="phonenumber"
                        placeholder="Enter Phone Number">
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-sm-6 ">
                    <p class=" text-small fw-bold">Customer Address</p>
                    <input class="form-control input-lg" type="text" value="" name="address"
                        placeholder="Enter Your Address" required>
                </div>
                <div class="col-sm-6">
                    <p class=" text-small fw-bold">Payment Method</p>
                    <select class="form-select" aria-label="Default select example" required>
                        <option value="cod">COD (Cash on delivery)</option>
                        <option value="banking">Banking</option>
                        <option value="momo">Momo</option>
                    </select>
                </div>
            </div>
            <button type="reset" class="btn btn-dark">Reset</button>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>

    </div>

    </div>
    </div>
    </div>
    <footer class="py-3 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="privacy.html" class="nav-link px-2 text-body-secondary">Privacy Policy</a>
            </li>
            <li class="nav-item"><a href="operatingregulations.html" class="nav-link px-2 text-body-secondary">Operating
                    Regulations</a>
            </li>
            <li class="nav-item"><a href="shipping.html" class="nav-link px-2 text-body-secondary">Shipping
                    Policy</a>
            </li>
            <li class="nav-item"><a href="returnandrefund.html" class="nav-link px-2 text-body-secondary">Return and
                    Refund
                    Policy</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 TheCornerStore</p>
    </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    </body>

    </html>