<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author/ID: 
Phan Anh Khoi S3980639
Tran Minh Hoang S3975086
Nguyen Thi Hoang Yen S3930002
Le Tuan Kiet S3965654
Tran Minh S3911737

Acknowledgment: 

TheCornerStore logo: Image generated using Bing Image Creator from the prompt lettermark logo for the TheCornerStore website

Images:
The Craft House (n.d.) Product images [product], The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

AConcept Vietnam (2021). Furniture images [furniture], AConcept Vietnam website. Accessed 20 September 2023. https://aconcept-vn.com/vi/

Amazon (n.d.). Product images [product], Amazon website. Accessed 20 September 2023.https://www.amazon.com/ 

Text in footer’s static pages: OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com

Product description:
The Craft House (n.d.) Product detail, The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com
 -->

<!-- Header for category -->
<%- include('./partials/customer-head') %>

<div class="px-4  ">
    <h2 class="display-4 mb-5 fw-bold text-body-emphasis text-center">Return and Refund Policy</h2>
    <div class=" mb-4">
        <h2 class="lead mb-3 fw-bold">1. Initiating a Return or Exchange</h2>
        <p class="lead mb-2">
            Contact Us: To initiate a return or exchange, please contact our customer support team. Provide
            your order number and a brief description of the reason for the return.</p>
        <p class="lead mb-2">
            Return Authorization: Once your return request is approved, you will receive instructions on how to return the item(s) to us.</p>
    </div>
    <hr>
    <div class="mb-4">
        <h2 class="lead mb-3 fw-bold">2. Refunds</h2>
        <p class="lead mb-2 ">
            Refund Process: Refunds will be issued to the original payment method within [X] business days
            of receiving the returned item(s). Please note that it may take additional time for your bank or
            credit card company to process the refund.</p>
        <p class="lead mb-2 ">
            Refund Amount: The refund amount will include the purchase price of the item(s) minus any
            shipping charges (if applicable). We do not refund the original shipping cost unless the return
            is due to an error on our part.</p>

    </div>
    <hr>
    <div class="mb-4">
        <h2 class="lead mb-3 fw-bold">3. Shipping Costs</h2>
        <p class="lead mb-2">
            Return Shipping: Customers are responsible for return shipping costs, unless the return is due
            to a mistake on our part or a defective item.</p>
        <p class="lead mb-2">
            Exchange Shipping: If you are exchanging an item, we will cover the cost of shipping the replacement item to you.</p>
        <p class="lead mb-2">
           
    </div>
    <hr>
    <div class="mb-4">
        <h2 class="lead mb-3 fw-bold">4. Damaged or Incorrect Items</h2>
        <p class="lead mb-2">
            Received a Damaged or Incorrect Item: If you receive a damaged or incorrect item, please contact us immediately. We will provide instructions for returning the item and will cover the return shipping costs.</p>
    </div>
</div>


<!-- Footer section -->
<%- include('./partials/customer-footer') %>
