<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author/ID: 
Phan Anh Khoi S3980639
Tran Minh Hoang S3975086
Nguyen Thi Hoang Yen S3930002
Le Tuan Kiet S3965654
Tran Minh S3911737

Acknowledgment: 

TheCornerStore logo: Image generated using Bing Image Creator from the prompt lettermark logo for the TheCornerStore website

Images:
The Craft House (n.d.) Product images [product], The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

AConcept Vietnam (2021). Furniture images [furniture], AConcept Vietnam website. Accessed 20 September 2023. https://aconcept-vn.com/vi/

Amazon (n.d.). Product images [product], Amazon website. Accessed 20 September 2023.https://www.amazon.com/ 

Text in footer’s static pages: OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com

Product description:
The Craft House (n.d.) Product detail, The Craft House website, accessed 23 September, 2023. https://thecrafthouse.vn/

OpenAI (2023) ChatGPT (August 3 version) [Large language model], accessed 23 September, 2023. https://chat.openai.com
 -->

<!-- Header for category -->
<%- include('./partials/shipper-head') %>
    <hr>

    <div class="px-4  ">
        <h2 class="display-4 mb-5 fw-bold text-body-emphasis text-center">Privacy Policy</h2>
        <div class=" mb-4">
            <h2 class="lead mb-3 fw-bold">1. Introduction</h2>
            <p class="lead mb-2">
                Welcome to TheCornerStore. We are committed to protecting your
                privacy and ensuring the security of your personal information. This Privacy Policy explains how
                we collect, use, disclose, and safeguard your personal data when you visit our website or use
                our services. By accessing or using our website and services, you consent to the practices
                described in this policy.</p>
        </div>
        <hr>
        <div class="mb-4">
            <h2 class="lead mb-3 fw-bold">2. Information We Collect</h2>
            <p class="lead mb-2 ">
                Personal Information: We may collect personally identifiable information such as your name,
                email address, postal address, phone number, and payment information when you interact with our
                website, make a purchase, or create an account.</p>
            <p class="lead mb-2 ">
                Non-Personal Information: We may automatically collect non-personal information about your visit
                to our website, such as your IP address, browser type, device information, and website usage
                data through cookies and similar technologies.</p>
        </div>
        <hr>
        <div class="mb-4">
            <h2 class="lead mb-3 fw-bold">3. How We Use Your Information</h2>
            <p class="lead mb-2">
                We use your information for various purposes, including but not limited to:</p>
            <p class="lead mb-2">
                a) Providing and improving our products and services.</p>
            <p class="lead mb-2">
                b) Processing and fulfilling orders and payments.</p>
            <p class="lead mb-2">
                c) Communicating with you about your orders, promotions, and updates.</p>
            <p class="lead mb-2">
                d) Customizing and personalizing your experience on our website.</p>
            <p class="lead mb-2">
                e) Analyzing website usage and trends to enhance user experience.</p>
            <p class="lead mb-2">
                f) Preventing fraud, protecting our rights, and ensuring compliance with legal obligations.</p>
        </div>
        <hr>
        <div class="mb-4">
            <h2 class="lead mb-3 fw-bold">4. Cookies and Tracking Technologies</h2>
            <p class="lead mb-2">
                We use cookies and similar technologies to collect information about your browsing and
                shopping
                behavior on our website. You can manage your cookie preferences through your browser
                settings.
            </p>
        </div>
    </div>

    <!-- Footer section -->
    <%- include('./partials/shipper-footer') %>