<!-- Header for category -->
<%- include('./partials/shipper-head') %>

<div class="px-4  ">
    <h2 class="display-4 mb-5 fw-bold text-body-emphasis text-center">Shipping Policy</h2>
    <div class=" mb-4">
        <h2 class="lead mb-3 fw-bold">1. Shipping Timelines</h2>
        <p class="lead mb-2">
            Delivery Timelines: The estimated delivery time for each shipping option is calculated from the
            date of order fulfillment. Please note that these are approximate delivery times, and actual
            delivery may vary depending on factors beyond our control.
        </p>
    </div>
    <hr>
    <div class="mb-4">
        <h2 class="lead mb-3 fw-bold">2. Shipping Costs</h2>
        <p class="lead mb-2 ">
            Shipping Fees: Shipping fees are calculated based on the selected shipping option, the
            destination address, and the weight/size of the items in your order.</p>
        <p class="lead mb-2 ">
            Free Shipping: We may offer free shipping for orders exceeding a specified purchase amount.
            Refer to our website or promotional materials for current offers.</p>
    </div>
    <hr>
    <div class="mb-4">
        <h2 class="lead mb-3 fw-bold">3. Lost or Delayed Shipments</h2>
        <p class="lead mb-2">
            Lost Shipments: In the event that your shipment is lost or significantly delayed, please contact
            us immediately. We will work with the carrier to resolve the issue.</p>
        <p class="lead mb-2">
            Weather and Other Delays: We are not responsible for delays caused by adverse weather
            conditions, natural disasters, or other unforeseen circumstances that may affect delivery times.
        </p>
    </div>
    <hr>
    <div class="mb-4">
        <h2 class="lead mb-3 fw-bold">4. Return of Shipped Items</h2>
        <p class="lead mb-2">
        Please review our Return Policy for information on returning items that have been shipped to you.    </p>
    </div>
</div>


<!-- Footer section -->
<%- include('./partials/shipper-footer') %>
