.item{
    display: flex;
    justify-content: space-between;
}

.itemDisplay{
    flex: 30%;
}

.product-image{
    width: 100px;
}

#total-price{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#btn-order{
    text-align: center;
    background-color: #408558;
    color: white;
    border: 0;
    border-radius: 5px;
}

.btn-delete{
    border: 0;
}