.prod-detail {
    font-size: 20px;
}

.prod-detail h2 {
    font-weight: 600;
}

.prod-detail button {
    background-color: black;
    color: white;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 32%;
}

.accordion-button:not(.collapsed) {
    background-color: #EEEEEE;
}

#smallCard img {
    height: 100px;
}